<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Cofetaria IOANA{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {# icon for iOS #}
        <link href="{{ asset('assets/icon/apple-touch-icon.png') }}" rel="apple-touch-icon" />
        <link href="{{ asset('assets/icon/apple-touch-icon-128x128.png') }}" rel="icon" sizes="128x128" />
        <link href="{{ asset('assets/icon/apple-touch-icon-152x152.png') }}" rel="apple-touch-icon" sizes="152x152" />
        <link href="{{ asset('assets/icon/apple-touch-icon-167x167.png') }}" rel="apple-touch-icon" sizes="167x167" />
        <link href="{{ asset('assets/icon/apple-touch-icon-180x180.png') }}" rel="apple-touch-icon" sizes="180x180" />
        <link href="{{ asset('assets/icon/apple-touch-icon-192x192.png') }}" rel="icon" sizes="192x192" />

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
